WGLC: TLS version applicability

Rich Salz raised this issue:

>The draft says: " It is applicable to all TLS-based protocols (including DTLS [RFC9147] and QUIC version 1 [RFC9001]) unless otherwise specified."
>
>But the ECH draft says: "ECH is supported in TLS 1.3 [RFC8446], DTLS 1.3 [RFC9147], and newer versions of the TLS and DTLS protocols."
>
>Those two documents should be harmonized.  I think they should both say what the ECH draft says, but they should also both mention that QUIC as a protocol that uses TLS 1.3 is also supported.


I'm not convinced this is right.  The "ech" SvcParamKey is applicable to all TLS-based service endpoints.  The fact that a service endpoint is offering a TLS-based protocol is part of the service endpoint identity used by SVCB, but its supported TLS versions are not, so the use of this SvcParamKey cannot be restricted to a subset of TLS versions.

Concretely, the "ech" SvcParamKey works fine for older TLS versions.  The server can respond to the outer ClientHello in TLS 1.2, ignoring the ECH extension, triggering the retry flow without ECH, and successful connection using TLS 1.2.  This is slower, but from SVCB's perspective it's behind the abstraction barrier of correctly functioning ECH.